<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Strat.run</title>
</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Strat.run</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="https://www.twitter.com/NathanOldridge" target="_blank">NathanOldridge on Twitter</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/about">About this Site</a>
                    </li>
                </ul>
            </div>
        </div>
        </nav>
        <div class="container">
            <h1>Welcome to <i>strat.run</i></h1>
            <hr />
            <p>I am aiming to build a site where you can find:
                <ul>
                    <li>Inside days</li>
                    <li>Outside days</li>
                    <li>Reversals</li>
                    <li>Other Strat Patterns</li>
                </ul>
            </p>
            <p>To start, here are some tickers to look at:
                <ul>
                    <li><a href="/ticker/MSFT">MSFT</a></li>
                    <li><a href="/ticker/AMZN">AMZN</a></li>
                    <li><a href="/ticker/META">META</a></li>
                </ul>
            </p>
            <hr />
            <p>This project is open-source, and you can find it at <a href="https://github.com/nathanoldridge/strat-run">github.com/nathanoldridge/strat-run</a></p>
        </div>
</body>
</html>